# Clojure stuff
*.class
*.jar
/.cpcache
/.lein-*
/.nrepl-port
/.rebel_readline_history
/.repl
/classes
/out
/target

# CLJS stuff
.cljs_node_repl
/node_modules
package-lock.json
yarn.lock
yarn-error.log
.shadow-cljs

# Project stuff
/build
