{:deps
 {binaryage/oops {:mvn/version "0.7.0"} ;; Compile issues w/ v0.7.1
  com.cognitect.aws/api {:mvn/version "0.8.515"}
  com.cognitect.aws/dynamodb {:mvn/version "810.2.801.0"}
  com.cognitect.aws/endpoints {:mvn/version "1.1.12.37"}
  com.cognitect.aws/s3        {:mvn/version "811.2.934.0"}
  crypto-password/crypto-password {:mvn/version "0.3.0"}
  deercreeklabs/lancaster {:mvn/version "0.9.13"}
  deercreeklabs/capsule {:mvn/version "0.4.40"
                         :exclusions [deercreeklabs/lancaster]}
  deercreeklabs/stockroom {:mvn/version "0.3.6"}
  mvxcvi/puget {:mvn/version "1.3.1"}
  org.slf4j/slf4j-nop {:mvn/version "RELEASE"}
  weavejester/dependency {:mvn/version "0.2.1"}}

 :paths ["src" "resources"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases
 {:cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.26.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware"
                          "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {cider/cider-nrepl {:mvn/version "0.26.0"}
                            cider/piggieback {:mvn/version "0.5.2"}}
               :main-opts
               ["-m" "nrepl.cmdline" "--middleware"
                "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

  :clj {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.879"}}}

  :dev {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                     cljsjs/react {:mvn/version "17.0.2-0"}
                     cljsjs/react-dom {:mvn/version "17.0.2-0"}}
        :extra-paths ["dev"]}

  :run-test-server {:main-opts ["-m" "user"]
                    :extra-paths ["dev"]}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                      lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}}}
